
<div class="row">
	<div class="col-12">
		<nav class="navbar navbar-dark bg-dark">
  			<a class="navbar-brand" href="#">TesterFinder</a>
  			<%= button_to "Home", root_path, method: "get", class: "btn btn-outline-primary my-2 my-sm-0" %>
  		</nav>
	</div>
</div>