<h1> <%= @user.full_name %> </h1>

<h3> Total Bugs: <%= @user.bug_ids.count %></h3>
 <ul class="list-group">
  <% @devices.each do |device| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= device.description %>
    <span class="badge badge-primary badge-pill"><%=get_user_bugcount(device.id, @user)%></span>
    </li>
  <% end %>
 </ul>